/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, dialog, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  gap: 20px;
}

/*********************************************************/
/* Header */
/*********************************************************/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 30px 0;
  background: white;
}

header h1 {
  font-family: Georgia;
  font-size: 4rem;
  font-weight: 700;
}

/*********************************************************/
/* CTA Button */
/*********************************************************/

.add-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #41c3ff;
  color: white;
  padding: 1rem 2rem 1rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 500;
  gap: 0.625rem;
}

/*********************************************************/
/* Grid Container */
/*********************************************************/

.grid-container {
  padding: 0 60px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  column-gap: 1.25rem;
  row-gap: 1.25rem;
}

/*********************************************************/
/* Card */
/*********************************************************/

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  gap: 0.625rem;
  background: #FFFFFF;
  border: 2px solid #C2C2C2;
  border-radius: 20px;
  color: #777;
}

.title {
  font-family: Georgia;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.75rem;
  color: black;
}

.author {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.read-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #89c250;
  color: white;
  padding: 0 1.25rem;
  border: none;
  border: 2px solid #89c250;
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
}

.read-status.not-read {
  background: #C43E3E;
  border: 2px solid #C43E3E;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: none;
  color: #777;
  padding: 0 1.25rem;
  border: 2px solid #777;
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
}

.remove .material-icons {
  font-size: 1.25rem;
}

/*********************************************************/
/* Dialog Form */
/*********************************************************/

dialog {
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 30ch;
  overflow: hidden;
  animation: show 0.3s ease normal;
  transition: close 0.3s ease normal;
}

@keyframes show{
  from {transform: scale(0);}
  to {transform: scale(100%);}
}

/* dialog.close {
  background: greenyellow;
  transition: close 0.3s ease normal;
} */

@keyframes close {
  from {transform: scale(100%);}
  to {transform: scale(0);}
}

dialog::backdrop {
  /* background: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(45deg, red, blue);
  opacity: 0.4;
  animation: show-backdrop 300ms ease-in-out;
}

@keyframes show-backdrop {
  from {opacity: 0;}
  to {opacity: 0.4;}
}

form {
  box-sizing: border-box;
  background: white;
  padding: 1.5rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

legend {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  padding-bottom: 2rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.8);
}

legend button {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: 600;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  padding-bottom: 4px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

input {
  box-sizing: border-box;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}

input:focus {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  outline: 1px solid lightgray;
}